* {
    background-color: antiquewhite;
}

td, th, table {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

table {
    width: 85vw;
    margin: auto;
}

.removeBtn {
    cursor: pointer;
}