.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 50px 0 0 0;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 60px 60px 0 60px;
}

.headerDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
}

.headerBtn {
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold; 
    
}

 .toggleBtn {
    /* border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold; */
    display: none;
} 

.appName {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line {
    border: 1px solid rgb(100, 96, 96);
    height: 17px;
}

.btn {
    
    display: none;
}

.loginBtn {
    border: 1px solid white ;
    background-color: white;
    margin: 10px;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}

.loginBtn:hover {
    border: 1px solid rgb(255, 196, 0);
    border-radius: 15px;
    margin: 10px;
    padding: 8px;
}

.signupBtn {
    composes : loginBtn
}

.collapse {
    display: none;
}



@media screen and (max-width : 720px)  {
    .headerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 15px;
        padding: 25px;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        margin: 60px 60px 0 0;
    }

    .headerDiv {
        display: flex;
        flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 10px;
    margin-left: 40px;
    }

    .appName {
        width: 30px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .headerBtn {
        display: none;
    }

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 40px;
    }

    .btn p {
        color: rgb(18, 18, 19);
        font-weight: 700;
        align-items: center;
    }

    .line {
        display: none;
    }

    .collapse {
        display: flex;
        flex-direction: column;
        background-color: rgba(151, 137, 122, 0.9);
        width: 150px;
        position: fixed;
    }

   
   
}