.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.headOne {
    border: 2px solid red;
    padding: 15px;
}

h2 {
    border: 2px solid greenyellow;
    padding: 15px;
}

p {
    border: 2px solid blueviolet;
    padding: 15px;
}

.table {
    border: 2px solid;
    width: 500px;
    margin: auto;
}

.tableHead {
    border: 1px solid;
}